name: Build and Release

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11' 

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install nuitka zstandard

    - name: Install Inno Setup
      run: choco install innosetup

    - name: Get the version
      id: get_version
      shell: bash
      run: |
        TAG_NAME=${GITHUB_REF#refs/tags/}
        VERSION=${TAG_NAME#v}
        echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

    - name: Build with Nuitka
      run: |
        python -m nuitka --mode=standalone --assume-yes-for-downloads --windows-company-name="Aidan" --windows-product-name="ChainOfTitle" --windows-file-version="${{ steps.get_version.outputs.VERSION }}" --windows-icon-from-ico=main.ico --enable-plugin=tk-inter --remove-output --windows-console-mode=disable main.py

    - name: Build Installer with Inno Setup
      run: |
        & "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" /DAppVersion="${{ steps.get_version.outputs.VERSION }}" installer.iss

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: user_output/ChainOfTitle_Setup.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
